<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="description" content="%VITE_SITE_DESCRIPTION%" />
    <meta property="og:title" content="%VITE_SITE_TITLE%" />
    <meta property="og:description" content="%VITE_SITE_DESCRIPTION%" />
    <meta property="og:url" content="%VITE_SITE_URL%" />
    <meta property="og:image" content="%VITE_SITE_URL%%VITE_SITE_LOGO%" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="%VITE_SITE_TITLE%" />
    <meta name="twitter:card" content="summary" />
    <meta name="theme-color" content="#000000" />
    <title>%VITE_SITE_TITLE%</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="%VITE_SITE_LOGO%" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="./src/index.ts"></script>
  </head>
  <body style="margin: 0">
    <app-root></app-root>
  </body>
</html>
